<script type="text/javascript">
  var d = document.getElementById("cancelled");
d.className = d.className + " active";
  $(document).ready(function() {

    var table = $('#example').dataTable({
        "order": [[1, "desc"]],
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "//cdn.datatables.net/tabletools/2.1.5/swf/copy_csv_xls_pdf.swf",
            "aButtons": [
                {
                    "sExtends": "copy",
                    "sButtonText": "Copy to clipboard"
                },
                {
                    "sExtends": "csv",
                    "sButtonText": "Save to CSV"
                }
            ]
        }
    });
  });

</script>

<h2>Invoices</h2>
    <table id="example" class="display">
      <thead>
        <tr>
          <th>Date</th>
          <th>Invoice #</th>
          <th>Book Number</th>
          <th>Customer Name</th>
          <th>Customer Mobile</th>
          <th>Total</th>
          <th>Paid</th>
          <th>Credit</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.try(:each) do |inv| %>
          <tr class ="<%= inv.id %>">
            <td>
              <%= inv.created_at.strftime('%a, %B %e, %Y') %>
            </td>
            <td>
              <%= link_to inv.id, credit_invoice_path(inv.id) %>
            </td>
            <td>
              <%= inv.bookNum %>
            </td>
            <td>
              <%= inv.customerName %>
            </td>
            <td>
              <%= inv.customerMobile %>
            </td>
            <td>
              <%= inv.bills.sum("quantity * price") %>
            </td>
            <td>
              <%= inv.try(:paid) %>
            </td>
            <td>
              <%= inv.bills.sum("quantity * price").to_f - inv.try(:paid).to_f %>
            </td>
            <td>
              <%= inv.status %>
            </td>
            <td>
              <%= link_to 'Delete Invoice', invoice_path(inv.id), method: 'delete' , class: 'btn btn-danger', :id => 'deletebtn', :name => inv.id %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>