<script type="text/javascript">
  var d = document.getElementById("sales");
d.className = d.className + " active";
</script>


<div>
</div>
<h2>Purchase Invoice </h2> <a href="#" style = " float: right;" class="btn btn-info" onclick="window.print();return false;">Print</a>
<br>
<br>
<div style="width:50%;">
	<table class="table">		
		<tbody>
			<tr>
				<th>Invoice ID</th>
				<td> <%= @invoice.id %></td>
			</tr>
			<tr>
				<th>Date</th>
				<td><%= @invoice.created_at.strftime('%a, %B %e, %Y') %></td>
			</tr>
			<tr>
				<th>invoice #</th>
				<td><%= @invoice.bookNum %></td>
			</tr>
			<tr>
				<th>Customer/Party Name</th>
				<td><%= @invoice.customerName %></td>
			</tr>
			<tr>
				<th>Deiver</th>
				<td><%= @invoice.driver %></td>
				
			</tr>
			<tr>
				<th>Vehicle</th>
				<td><%= @invoice.vehicle %></td>
			</tr>		
		</tbody>

	</table>
</div>
<div class = "col-md-12" style="background-color:black; margin-bottom:20px;margin-top:20px;">	
</div>

<div style="padding:10px;border-radius:5px;background-color:white;margin-top:60px; overflow:hidden;">
	<table class="table table-bordered">
		<thead>
			<th>Quality Name</th>
			<th>Gross Weight(Kg)</th>
			<th>Tear Weight (Kg)</th>
			<th>Net Weight</th>
			<th>Rate</th>
			<th>Total</th>
		</thead>
		<tbody id = 'billtable'>
			<% @bills.each do |bill| %>
				<tr>
					<td> <%= Item.find(bill.item_id).title %></td>
					<td><%= bill.gross %></td>
					<td><%= bill.tear %></td>
					<td><%= bill.gross - bill.tear %></td>
					<td><%= bill.price %></td>
					<td><%= ((bill.gross - bill.tear) * bill.price).round(1) %></td>
				</tr>
			<% end %>
			
		</tbody>
	</table>
</div>
	<div style = "float: right; font-size: large; ">
		Grand Total: <input type="text" value="<%= @invoice.bills.sum('(gross-tear)*price').round(1) %>" style = "height: 30px" disabled>
	</div>
