<script type="text/javascript">
  var d = document.getElementById("customers");
d.className = d.className + " active";
  $(document).ready(function() {

    var table = $('#example').dataTable({
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "//cdn.datatables.net/tabletools/2.1.5/swf/copy_csv_xls_pdf.swf",
            "aButtons": [
                {
                    "sExtends": "copy",
                    "sButtonText": "Copy to clipboard"
                },
                {
                    "sExtends": "csv",
                    "sButtonText": "Save to CSV"
                }
            ]
        },
        /////////////////////////////////////////////
        <% if @customer.count > 0 %>
           "footerCallback": function ( row, data, start, end, display ) {
              var api = this.api(), data;
   
              // Remove the formatting to get integer data for summation
              var intVal = function ( i ) {
                  return typeof i === 'string' ?
                      i.replace(/[\$,]/g, '')*1 :
                      typeof i === 'number' ?
                          i : 0;
              };

          }
        <% end %>

    /////////////////////////////////////////
    });
  });

</script>

<h2><%=@name %>'s Ledger
<div style = "float: right;font-size: 14px;border-radius: 10px;padding: 5px;background-color: white;margin-bottom:10px;">
  <strong> <span id = 'totalamount' style = "color: Blue;margin-right : 40px; margin-left: 20px;">  Balance : <%= @credit %> </span></strong>
</div>
</h2>
<table id="example" class="display">
  <thead>
    <tr>
      <th>Date</th>
      <th>Invoice #</th>
      <th>Description</th>
      <th>Credit</th>
      <th>Debit</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <% @customer.try(:each) do |inv| %>
      <% if inv.instance_of? Invoice %>    
        <tr class ="<%= inv.id %>">
          <td>
            <%= inv.created_at.strftime('%a, %B %e, %Y') %>
          </td>
          <td>
            <%= inv.id %>
          </td>
          <td>
            "Purchase Invoice"
          </td>
          <td>
            <%= inv.bills.sum('price * (gross-tear)') %>
          </td>
          <td> </td>
          <td>
            <% @total = @total + inv.bills.sum('price * (gross-tear)') %>
            <%= @total %>
          </td>
        </tr>
      <% elsif inv.instance_of? Payment %>
        <tr class ="<%= inv.id %>">
          <td>
            <%= inv.created_at.strftime('%a, %B %e, %Y') %>
          </td>
          <td>
            
          </td>
          <td>
            Payment: <%= inv.remarks %>
          </td>
          <td>
            
          </td>
          <td>
            <%= inv.total %>
          </td>
          <td>
            <% @total = @total - inv.total %>
            <%= @total %>
          </td>
        </tr>
      <% elsif inv.instance_of? Sale %>
        <tr class ="<%= inv.id %>">
          <td>
            <%= inv.created_at.strftime('%a, %B %e, %Y') %>
          </td>
          <td>
            <%= inv.id %>
          </td>
          <td>
            "Sales Invoice"
          </td>
          <td>
            
          </td>
          <td>
            <%= inv.lines.sum('price * (gross-tear)') %>
          </td>
          <td>
            <% @total = @total - inv.lines.sum('price * (gross-tear)') %>
            <%= @total %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div style = "float:right; font-size: 14px">
  <strong> <span id = 'pgamount' > </span></strong><br>
  <strong> <span id = 'pgCash' > </span></strong><br>
  <strong> <span id = 'pgCredit' > </span></strong>
</div>
<script>
  $('#cancelbtn').on('click',function(){
    $('.'+$(this).attr("name")).remove() ;
  });

</script>