<script type="text/javascript">
  var d = document.getElementById("sales");
d.className = d.className + " active";
  $(document).ready(function() {

    var table = $('#example').dataTable({
        "order": [[1, "desc"]],
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "//cdn.datatables.net/tabletools/2.1.5/swf/copy_csv_xls_pdf.swf",
            "aButtons": [
                {
                    "sExtends": "copy",
                    "sButtonText": "Copy to clipboard"
                },
                {
                    "sExtends": "csv",
                    "sButtonText": "Save to CSV"
                }
            ]
        },
        /////////////////////////////////////////////
        <% if @invoices.count > 0 %>
           "footerCallback": function ( row, data, start, end, display ) {
              var api = this.api(), data;
   
              // Remove the formatting to get integer data for summation
              var intVal = function ( i ) {
                  return typeof i === 'string' ?
                      i.replace(/[\$,]/g, '')*1 :
                      typeof i === 'number' ?
                          i : 0;
              };
   
              // Total over all pages
              total = api
                  .column( 3 )
                  .data()
                  .reduce( function (a, b) {
                      return intVal(a) + intVal(b);
                  } );
              $('#totalamount').text('Total: '+total);

              // Total over this page
              pageTotal = api
                  .column( 3, { page: 'current'} )
                  .data()
                  .reduce( function (a, b) {
                      return intVal(a) + intVal(b);
                  }, 0 );
   
              // Update footer
              $('#pgamount').text('Total: '+ pageTotal);
          }
        <% end %>
    });
  });

</script>

<h2>Invoices
<div style = "float: right;font-size: 14px;border-radius: 10px;padding: 5px;background-color: white;margin-bottom:10px;">
  <strong> <span id = 'totalamount' style = "color: Blue;margin-right : 40px; margin-left: 20px;">  Total : 0 </span></strong>
</div>
</h2>
<table id="example" class="display">
  <thead>
    <tr>
      <th>Date</th>
      <th>Invoice #</th>
      <th>Customer/Party Name</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.try(:each) do |inv| %>
      <tr class ="<%= inv.id %>">
        <td>
          <%= inv.created_at.strftime('%a, %B %e, %Y') %>
        </td>
        <td>
          <%= link_to inv.id, credit_invoice_path(inv.id) %>
        </td>
        <td>
          <%= inv.customerName %>
        </td>
        <td>
          <%= inv.bills.sum("(gross-tear) * price") %>
        </td>
        <td>
          <%= link_to 'Delete', invoice_path(inv.id), :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div style = "float:right; font-size: 14px">
  <strong> <span id = 'pgamount' > </span></strong><br>
  <strong> <span id = 'pgCash' > </span></strong><br>
  <strong> <span id = 'pgCredit' > </span></strong>
</div>
<script>
  $('#cancelbtn').on('click',function(){
    $('.'+$(this).attr("name")).remove() ;
  });

</script>