<script type="text/javascript">
  var d = document.getElementById("std");
d.className = d.className + " active";
  $(document).ready(function() {
  

    $('#example').dataTable({
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "//cdn.datatables.net/tabletools/2.1.5/swf/copy_csv_xls_pdf.swf",
            "aButtons": [
                {
                    "sExtends": "copy",
                    "sButtonText": "Copy to clipboard"
                },
                {
                    "sExtends": "csv",
                    "sButtonText": "Save to CSV"
                }
            ]

        }
    });
  });

</script>

<h2>Students<a href="<%= new_student_path %>" class="btn btn-info pull-right" style="width:200px;">Admit a new Student</a></h2>
    <table id="example" class="display">
      <thead>
        <tr>
          <th>Roll Number</th>
          <th>Name</th>
          <th>Father Name</th>
          <th>Email</th>
          <th>Garde</th>
          <th>Amount</th>
          <th>Paid</th>
          <th>Remaining</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @students.try(:each) do |student| %>
          <tr>
            <td>
              <%= student.rollnum %>
            </td>
            <td>
              <%= link_to student.name, student_path(student.id) %>
            </td>
            <td>
              <%= student.sirname %>
            </td>
            <td>
              <%= student.email %>
            </td>
            <td>
              <%= Grade.find(student.grade_id).title %>
            </td>
            <td>
              <%= student.amount %>
            </td>
            <td>
              <%= student.paid %>
            </td>
            <td>
              <%= student.amount-student.paid %>
            </td>
            <td>
              <%= student.date %>
            </td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
