<script type="text/javascript">
  var d = document.getElementById("std");
d.className = d.className + " active";
  $(document).ready(function() {
  

    $('#example').dataTable({
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "//cdn.datatables.net/tabletools/2.1.5/swf/copy_csv_xls_pdf.swf",
            "aButtons": [
                {
                    "sExtends": "copy",
                    "sButtonText": "Copy to clipboard"
                },
                {
                    "sExtends": "csv",
                    "sButtonText": "Save to CSV"
                }
            ]

        }
    });
  });

</script>

<h2>Students</h2>
    <table id="example" class="display">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Branch</th>
          <th>Garde</th>
          <th>Amount</th>
          <th>Paid</th>
          <th>Remaining</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @students.try(:each) do |student| %>
          <tr>
            <td>
              <%= student.id %>
            </td>
            <td>
              <%= student.name %>
            </td>
            <td>
              <%= student.branch %>
            </td>
            <td>
              <%= student.grade %>
            </td>
            <td>
              <%= student.amount %>
            </td>
            <td>
              <%= student.paid %>
            </td>
            <td>
              <%= student.amount-student.paid %>
            </td>
            <td>
              <%= student.date %>
            </td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
