<script type="text/javascript">
  var d = document.getElementById("income");
  d.className = d.className + " active";
  $(document).ready(function() {
  

    $('#example').dataTable({
        "order": [[0, "desc"]],
        dom: 'T<"clear">lfrtip',
        tableTools: {
          "sSwfPath": "//cdn.datatables.net/tabletools/2.1.5/swf/copy_csv_xls_pdf.swf",
          "aButtons": [
              {
                  "sExtends": "copy",
                  "sButtonText": "Copy to clipboard"
              },
              {
                  "sExtends": "csv",
                  "sButtonText": "Save to CSV"
              }
          ]
        }
    });
  });

</script>

<h2>Income Register<a href="<%= new_income_path %>" class="btn btn-info pull-right" style="width:200px;">Add Fund</a></h2>
<span id="totalpaid" style="background : #0040FF; border-radius: 10px;padding: 10px;color: white;margin-left: 35%;">Available Fund : <%= Fund.first.amount %></span>
<table id="example" class="display">
  <thead>
    <tr>
      <th>Date</th>
      <th>Added By</th>
      <th>Amount</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    <% @incomes.try(:each) do |inc| %>
      <tr>
        <td>
          <%= inc.created_at.strftime('%a, %B %e, %Y') %>
        </td>
        <td>
          <%= User.find(inc.user_id).email %>
        </td>
        <td>
          <%= inc.amount.round(1) %>
        </td>
        <td>
          <%= inc.ramark %>
        </td>
        <td>
          <%= link_to 'Edit', edit_income_path(inc.id), class: 'btn btn-default', style: 'width:100%' %>
          <%= link_to 'Delete', income_path(inc.id), method: 'delete' , class: 'btn btn-danger', style: 'width:100%' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>