<script type="text/javascript">
  var d = document.getElementById("salary");
d.className = d.className + " active";
  $(document).ready(function() {
    $('#example').dataTable({
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "//cdn.datatables.net/tabletools/2.1.5/swf/copy_csv_xls_pdf.swf",
            "aButtons": [
                {
                    "sExtends": "copy",
                    "sButtonText": "Copy to clipboard"
                },
                {
                    "sExtends": "csv",
                    "sButtonText": "Save to CSV"
                }
            ]
        }
    });
  });

</script>

<h2>Salary Register </h2>
<div style = "float: right;font-size: 14px;border-radius: 10px;padding: 5px;background-color: white;margin-bottom:10px;">
  <strong> <span id = 'totalamount' style = "color: Blue;margin-right : 40px; margin-left: 20px;">  Weekly Salaries : <%= Employee.where(salary_type: 'Weekly').sum('salary') %> </span></strong>
  <strong> <span  style = "color: Blue;margin-right : 40px; margin-left: 20px;">  Monthly Salaries : <%= Employee.where(salary_type: 'Monthly').sum('salary') %> </span></strong>
</div>
    <table id="example" class="display">
      <thead>
        <tr>
          <th>Date</th>
          <th>Employee Name</th>
          <th>Salary Type</th>
          <th>Salary</th>
          <th>Loan Deduction</th>
          <th>Net Salary</th>
        </tr>
      </thead>
      <tbody>
        <% @salaries.try(:each) do |sal| %>
          <tr>
            <td>
              <%= sal.created_at %>
            </td>
            <td>
              <%= Employee.find(sal.employee_id).name %>
            </td>
            <td>
              <%= Employee.find(sal.employee_id).salary_type %>
            </td>
            <td>
            	<%= Employee.find(sal.employee_id).salary %>
            </td>
            <td>
            	<%= sal.loan_amount %>
            </td>
            <td>
            	<%= Employee.find(sal.employee_id).salary - sal.loan_amount %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
