<script type="text/javascript">
  var d = document.getElementById("items");
d.className = d.className + " active";
  $(document).ready(function() {
  

    $('#example').dataTable({
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "//cdn.datatables.net/tabletools/2.1.5/swf/copy_csv_xls_pdf.swf",
            "aButtons": [
                {
                    "sExtends": "copy",
                    "sButtonText": "Copy to clipboard"
                },
                {
                    "sExtends": "csv",
                    "sButtonText": "Save to CSV"
                }
            ]

        }
    });
  });

</script>

<h2>Items<a href="<%= items_new_path %>" class="btn btn-info pull-right" style="width:200px;">Add an Item</a></h2>
    <table id="example" class="display">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Code</th>
          <th>Sold</th>
          <th>Left</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @items.try(:each) do |item| %>
          <tr class ="<%= item.id %>">
            <td>
              <%= item.title %>
            </td>
            <td>
              <%= item.code %>
            </td>
            <td>
              <%= item.sold %>
            </td>
            <td>
            	<%= item.left %>
            </td>
            <td>
              <%= link_to 'Edit Item', edit_item_path(item.id), class: 'btn btn-info' %>
              <%= link_to 'Delete Item', item_path(item.id), method: 'delete' , class: 'btn btn-info', :id => 'deletebtn', :name => item.id %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

	<strong><span style="float:right;margin-right: 45px;margin-top: 10px;line-height: 2em;">Total Sold: <%= @items.sum(:sold) %></br>Total Left: <%= @items.sum(:left) %></span></strong>

<script>
//   $('#deletebtn').on('click',function(){
//     $('.'+$(this).attr("name")).remove() ;
//   });
</script>