<script type="text/javascript">
  var d = document.getElementById("home");
d.className = d.className + " active";
  $(document).ready(function() {

    var table = $('#example').dataTable({
        "order": [[1, "desc"]],
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "//cdn.datatables.net/tabletools/2.1.5/swf/copy_csv_xls_pdf.swf",
            "aButtons": [
                {
                    "sExtends": "copy",
                    "sButtonText": "Copy to clipboard"
                },
                {
                    "sExtends": "csv",
                    "sButtonText": "Save to CSV"
                }
            ]
        },
        /////////////////////////////////////////////
        <% if @bills.count > 0 %>
           "footerCallback": function ( row, data, start, end, display ) {
              var api = this.api(), data;
   
              // Remove the formatting to get integer data for summation
              var intVal = function ( i ) {
                  return typeof i === 'string' ?
                      i.replace(/[\$,]/g, '')*1 :
                      typeof i === 'number' ?
                          i : 0;
              };
   
              // Total over all pages
              total = api
                  .column( 5 )
                  .data()
                  .reduce( function (a, b) {
                      return intVal(a) + intVal(b);
                  } );
              $('#totalamount').text('Total: '+total+ ' KG');

              // Total over this page
              pageTotal = api
                  .column( 5, { page: 'current'} )
                  .data()
                  .reduce( function (a, b) {
                      return intVal(a) + intVal(b);
                  }, 0 );
   
              // Update footer
              $('#pgamount').text('Total: '+ pageTotal + ' KG');
          }
        <% end %>
    });
  });

</script>

<h2> <%= @item.title %>
<div style = "float: right;font-size: 14px;border-radius: 10px;padding: 5px;background-color: white;margin-bottom:10px;">
  <strong> <span id = 'totalamount' style = "color: Blue;margin-right : 40px; margin-left: 20px;">  Total : 0 </span></strong>
</div>
</h2>
<table id="example" class="display">
  <thead>
    <th>Date</th>
    <th>Invoice ID</th>
    <th>Quality Name</th>
    <th>Gross Weight(Kg)</th>
    <th>Tear Weight (Kg)</th>
    <th>Net Weight</th>
    <th>Rate</th>
    <th>Total</th>
  </thead>
  <tbody id = 'billtable'>
    <% @bills.each do |bill| %>
      <tr>
        <td> <%= bill.invoice.created_at %></td>
        <td> <%= bill.invoice.id %></td>
        <td> <%= bill.item_title %></td>
        <td><%= bill.gross %></td>
        <td><%= bill.tear %></td>
        <td><%= bill.gross - bill.tear %></td>
        <td><%= bill.price %></td>
        <td><%= ((bill.gross - bill.tear) * bill.price).round(1) %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<div style = "float:right; font-size: 14px">
  <strong> <span id = 'pgamount' > </span>KG</strong><br>
</div>
<script>
  $('#cancelbtn').on('click',function(){
    $('.'+$(this).attr("name")).remove() ;
  });

</script>