<script type="text/javascript">
  var d = document.getElementById("items");
d.className = d.className + " active";
  $(document).ready(function() {
    $('#example').dataTable({
      dom: 'T<"clear">lfrtip',
      tableTools: {
        "sSwfPath": "//cdn.datatables.net/tabletools/2.1.5/swf/copy_csv_xls_pdf.swf",
        "aButtons": [
          {
            "sExtends": "copy",
            "sButtonText": "Copy to clipboard"
          },
          {
            "sExtends": "csv",
            "sButtonText": "Save to CSV"
          },
        ]
      },
      <% if @bills.count > 0 %>
        "footerCallback": function ( row, data, start, end, display ) {
          var api = this.api(), data;

          // Remove the formatting to get integer data for summation
          var intVal = function ( i ) {
              return typeof i === 'string' ?
                  i.replace(/[\$,]/g, '')*1 :
                  typeof i === 'number' ?
                      i : 0;
          };

          // Total over all pages
          total = api
              .column( 2 )
              .data()
              .reduce( function (a, b) {
                  return intVal(a) + intVal(b);
              } );
          $('#totalpaid').text('Total Purchased: '+total+ ' KG');
          // Total over this page
          pageTotal = api
              .column( 2, { page: 'current'} )
              .data()
              .reduce( function (a, b) {
                  return intVal(a) + intVal(b);
              }, 0 );

          // Update footer
          $('#pgamount').text('Total: '+ pageTotal + 'KG');
      }
    <% end %>
    });
  });

</script>

<h2><%= @item.title %> <img src="<%= asset_path "img/logo/yard.png"%>" style="width:5%;float:left; margin-right:2%" /></h2>
<div style="background-color: white; height: 48px;width: 50%;padding: 12px;border-radius: 10px;font-size: medium;">
  <span style = 'color: blue;padding-right: 32px;'> Present In Stock <%= @item.left %> KG</span>
  <span id = 'totalpaid' style = 'color: darkgreen;'> Total Purchased : 0 KG</span>
</div>
<table id="example" class="display">
  <thead>
    <tr>
      <th>Date</th>
      <th>Invoice #</th>
      <th>Net Weight</th>
      <th>Party/Company</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.try(:each) do |bill| %>
      <tr>
        <td>
          <%= bill.created_at %>
        </td>
        <td>
          <%= bill.invoice.id %>
        </td>
        <td>
          <%= bill.gross - bill.tear %>
        </td>
        <td>
          <%= bill.invoice.customerName %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="float: right;font-size: 24px;color: black">
  <span id = 'pgamount'> Total : 0</span>
</div>