<script type="text/javascript">
  var d = document.getElementById("addStock");
d.className = d.className + " active";
  $(document).ready(function() {

    var table = $('#example').dataTable({
        dom: 'T<"clear">lfrtip',
        tableTools: {
            "sSwfPath": "//cdn.datatables.net/tabletools/2.1.5/swf/copy_csv_xls_pdf.swf",
            "aButtons": [
                {
                    "sExtends": "copy",
                    "sButtonText": "Copy to clipboard"
                },
                {
                    "sExtends": "csv",
                    "sButtonText": "Save to CSV"
                }
            ]
        }
    });
  });

</script>


<h1>Exports</h1><span>
  <%= link_to 'Export', new_export_path, class: "btn btn-info",style: "float:right; width: 200px" %>
</span>

<table id="example" class="display">
  <thead>
    <th>Date</th>
    <th>Item</th>
    <th>Container</th>
    <th>Booking</th>
    <th>Loading</th>
    <th>Port</th>
    <th>Party</th>
    <th>Agent</th>
    <th>Remarks</th>
    <th>Weight</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @exports.each do |export| %>
      <tr>
        <td><%= export.created_at.strftime('%a, %B %e, %Y') %></td>
        <td><%= Item.find(export.item_id).title %></td>
        <td><%= export.container %></td>
        <td><%= export.booking %></td>
        <td><%= export.loading %></td>
        <td><%= export.port %></td>
        <td><%= export.party %></td>
        <td><%= export.agent %></td>
        <td><%= export.remarks %></td>
        <td><%= export.weight %></td>
        <td>
          <%= link_to 'Show', export %><br>
          <%= link_to 'Edit', edit_export_path(export) %><br>
          <%= link_to 'Destroy', export, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

