<!DOCTYPE html>
<html>
<head>
  <title>Scholastic</title>
  
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
<script src="//cdn.datatables.net/tabletools/2.2.0/js/dataTables.tableTools.min.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
  <link href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css" rel="stylesheet" />
  <link href="//cdn.datatables.net/tabletools/2.2.0/css/dataTables.tableTools.min.css" rel="stylesheet" />
 
  
</head>
<body style=" background-color:#eee">

<div class="navbar navbar-inverse navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div style="margin-left:100px;">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<i class="icon-cog"></i>
			</a>
			<img src="<%= asset_path "img/logo/scs-logo.png"%>" style="width:80px; height:80px;" />
			
			<span style="font-size:28px; font-weight:bold">Scholastic</span>
			
			<% if current_user %>

				<ul class="nav pull-right" style="top:15px;">
					
					<!-- <li class="dropdown">
						<a href="<%#= edit_user_registration_path %>" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-user"></i> 
							
						</a>
						
					</li> -->

					<li class="dropdown">
						<%= link_to edit_user_registration_path do %>
							<i class="icon-user"></i> <%= current_user.email%>
						<% end %>
						
					</li>

					<li class="dropdown">
						<%= link_to destroy_user_session_path, method: :delete do %>
							<i class="icon-off"></i> Logout
						<% end %>
						
					</li>
					
				</ul>
			<% end %>
			
			

		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->


<% if current_user %>
<div class="subnavbar">

	<div class="subnavbar-inner">
	
		<div style="margin-left:100px;">

				<ul class="mainnav">
				
					<li class="" id="home"><!-- class->active -->
						<a href="<%= authenticated_root_path %>">
							<i class="icon-home"></i>
							<span>Home</span>
						</a>	    				
					</li>
					<% if current_user && current_user.user_type == 2  || current_user.user_type == 0 %>
					<li class="" id="csv">
						<a href="<%= students_upload_path %>">
							<i class="icon-plus"></i>
							<span>Upload a CSV File</span>
						</a>	    				
					</li>
					<%end%>
					
					<% if current_user && current_user.user_type == 1 || current_user.user_type == 0 %>
					<li class="" id="std">
						<a href="<%= students_path %>">
							<i class="icon-user"></i>
							<span>Students</span>
						</a>	    				
					</li>
					<% end %>
					
					
					<% if current_user && current_user.user_type == 3 || current_user.user_type == 0 %>
					<li class="" id="pay">
						<a href="<%= students_payment_path %>">
							<i class="icon-plus"></i>
							<span>Pay Fees</span>
						</a>	    				
					</li>
					<% end %>
					
				</ul>
		

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->
<% end %>

<div class="container" style="margin-top:30px;">
	<%= render partial: "partials/flash_message" %>
	<%= yield %>
</div>
<div style="margin:30px;"></div>



</body>
</html>
